---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Title</h1>

<section class="pswp-gallery" id="photogallery">
  {# Iterating all objects in _data/photos.json #}
  {% for photo in photos -%}

  {# Last object in json is empty so ignore that #}
  {% if photo.url | length %}
    <a href="{{ photo.url }}" data-pswp-width="{{ photo.width }}" data-pswp-height="{{ photo.height }}" target="_blank" class="gallery-img">
      <picture>
        <!--This is the optional AVIF image-->
        <source type="image/avif" srcset="{{ photo.thumbAvif }}">
        <!--This is the fallback JPEG image-->
        <img loading="lazy" alt="{{ photo.alt }}" src="{{ photo.thumb }}" width="300px" height="300px">
      </picture>
    </a>
    {% endif %}
  {%- endfor %}
</section>

<footer>Sami Mäkelä — <a class="bold" href="https://httpster.io/">https://httpster.io</a></footer>