html,
body {
  padding: 0;
  margin: 0;
  font-size:1.2rem;
  color: #010101;
  background: #fffaea;
}

#photogallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Images */
.gallery-img {
  height:300px;
  width: 300px;
  display: inline-block;
  margin: 1rem;
}

h1 {
  text-align: center;
  margin: 3rem auto;
  max-width: 60%;
}

footer {
  margin: 2rem auto 2rem auto;
  text-align: center;
  font-size: 0.8rem;
}